@import '../../node_modules/tailwindcss/index.css';

@config '../../tailwind.config.ts';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
